@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  /* Основной цвет текста */
  --secondary-text-color: #212121;
  /* Вторичный цвет текста*/
  --white-color: #ffffff;
  /* Основной цвет фона */
  --bgc-color: #2f303a;
  /* Вторичный цвет фона*/
  --accent-color: #2196f3;
  /* Цвет акцента */
  --logo-color: #000000;
  /* Цвет лого*/
  --secondary-bgc-color: #f5f4fa;
  /* Цвет фона, секции "команда"*/
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.page {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
  }
}

.container-header {
  display: flex;
}

.site-nav {
  align-items: center;
  display: flex;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 4px;
  background-color: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo-header {
  color: var(--logo-color);
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .logo-header {
    font-weight: 400;
  }
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 93px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    margin-left: 88px;
  }
}

.nav-list .nav-link {
  color: var(--secondary-text-color);
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link:hover {
  color: var(--accent-color);
}

.nav-list .nav-link:focus {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.contact-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-info {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    margin-right: 50px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item {
    margin-right: 50px;
  }
}

.contact-info .mailo {
  color: var(--primary-text-color);
  line-height: 1.14;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .mailo:hover {
  color: var(--accent-color);
}

.contact-info .mailo:focus {
  color: var(--accent-color);
}

.contact-info .phone {
  color: var(--primary-text-color);
  line-height: 1.14;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .phone:hover {
  color: var(--accent-color);
}

.contact-info .phone:focus {
  color: var(--accent-color);
}

.icon-email {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailo:hover .icon-email {
  fill: var(--accent-color);
}

.mailo:focus .icon-email {
  fill: var(--accent-color);
}

.phone:hover .icon-phone {
  fill: var(--accent-color);
}

.phone:focus .icon-phone {
  fill: var(--accent-color);
}

.icon-phone {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone:hover {
  fill: var(--accent-color);
}

.icon-phone:focus {
  fill: var(--accent-color);
}

.menu-open {
  margin-left: auto;
  border: none;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: block;
  margin-left: auto;
  position: absolute;
  border: none;
  background: transparent;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  padding: 48px 40px;
  height: 796px;
}

.mob-menu-list {
  margin-bottom: 302px;
}

.menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-link {
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.menu-contact-list {
  margin-bottom: 64px;
}

.menu-contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.menu-mailo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-soc-list {
  display: flex;
}

.menu-soc-item {
  display: flex;
}

.menu-soc-item:not(:last-child) {
  margin-right: 20px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-soc-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.menu-close {
  top: 10px;
  right: 15px;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: inherit;
}

.menu-close:hover {
  fill: var(--accent-color);
}

.section-hero {
  text-align: center;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-mob-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-tablet-1x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-img/overlay-desktop-2x.jpg);
  }
}

.section-hero__title {
  line-height: 2;
  font-size: 26px;
  text-transform: uppercase;
  color: var(--white-color);
  font-weight: 900;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-hero__title {
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.section-hero__button {
  font-family: Roboto, sans-serif;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-size: 16px;
  min-width: 200px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: none;
}

.feauters-subject {
  display: none;
}

.feauters-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .feauters-list {
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .feauters-list {
    margin-bottom: 0;
  }
}

.feauters-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feauters-item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feauters-item {
    width: 270px;
    margin-bottom: 0;
  }
}

.feauters-icon {
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bgc-color);
  margin-bottom: 30px;
}

.feauters-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .feauters-title {
    text-align: left;
  }
}

.feauters-text {
  font-weight: 400;
}

.section-job__title {
  color: var(--secondary-text-color);
  line-height: 1.16;
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.job-list {
  display: flex;
}

.job-list__item:not(:last-child) {
  margin-right: 30px;
}

.job-img {
  position: relative;
  height: 294px;
}

.job-img__wrapp {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-img__text {
  color: #ffffff;
  font-weight: 700;
  line-height: 0.85;
  text-transform: uppercase;
}

.section-team {
  background-color: var(--secondary-bgc-color);
}

.team-title {
  color: var(--secondary-text-color);
  line-height: 0.84;
  text-align: center;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    line-height: 1.16;
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin-bottom: 0;
  }
}

.team-item {
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    margin-bottom: 0;
  }
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-icon-list {
  display: flex;
  justify-content: center;
}

.team-icon-item:not(:last-child) {
  margin-right: 10px;
}

.team-icon-item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.team-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover {
  background-color: var(--accent-color);
}

.team-link:focus {
  background-color: var(--accent-color);
}

.team-link:hover .team-icon {
  fill: var(--white-color);
}

.team-link:focus .team-icon {
  fill: var(--white-color);
}

.team-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
  line-height: 0.85;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-bottom: -30px;
  margin-right: -30px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    margin-bottom: 0;
  }
}

.clients-item {
  width: 226px;
  height: 92px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 210px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    margin-bottom: 0;
    width: 170px;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border-color: var(--accent-color);
}

.clients-link:hover .clients {
  fill: var(--accent-color);
}

.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:focus .clients {
  fill: var(--accent-color);
}

.clients {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
}

.logo-footer {
  display: inline-block;
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .address-soc-wrap {
    display: flex;
    justify-content: space-around;
  }
}

.address-container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
    text-align: start;
  }
}

.address {
  font-style: normal;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-text {
  color: var(--white-color);
}

.address .mailo {
  color: rgba(255, 255, 255, 0.6);
}

.address .phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-list-item {
  margin-bottom: 60px;
}

.footer-soc {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-soc {
    margin-right: 93px;
  }
}

.soc-title {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 20px;
}

.soc-list {
  display: flex;
  margin-bottom: 60px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .soc-list {
    margin-bottom: 0;
  }
}

.soc-item {
  width: 44px;
  height: 44px;
  align-items: center;
}

.soc-item:not(:last-child) {
  margin-right: 10px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250 cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.soc-icon {
  fill: var(--white-color);
}

.footer-subscribe {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    text-align: start;
  }
}

.subscribe-title {
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-color);
}

.subscribe-modal {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-modal {
    margin-bottom: 0;
  }
}

.subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 8px 10px 29px;
  margin: 0 auto;
  outline: none;
  border-color: transparent;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
}

.subscribe-btn::after {
  content: "";
  background-image: url(../images/icon-send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

.subscribe-wrap {
  display: flex;
  width: 450px;
  height: 50px;
  margin-right: 12px;
}

@media screen and (min-width: 1200px) {
  .subscribe-wrap {
    width: 358px;
  }
}

.subscribe-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.25;
  align-items: center;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .subscribe-send {
    display: flex;
    align-items: center;
  }
}

.project-subject {
  display: none;
}

.project-part {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .project-part {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.part-item {
  flex-wrap: wrap;
}

.part-item:not(:last-child) {
  margin-right: 8px;
}

.project-button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-bgc-color);
  font-weight: 500;
  line-height: 1.62;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.project-button:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.project-button:focus {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.part-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .project-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project-item:nth-last-child(-n + 1) {
    margin-right: 0;
  }
}

.project-item {
  flex-basis: 370px;
}

@media screen and (min-width: 768px) {
  .project-item {
    flex-basis: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project-item {
    flex-basis: 370px;
  }
}

.project-item:not(:last-child) {
  margin-bottom: 30px;
}

.project-item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.project-list-container {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-feauters {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
}

/* тоже самое что weight */
.project-img-wrapp {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover .project-top-text {
  transform: translateY(0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 5px solid tomato; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  /* outline: 5px solid rgb(105, 71, 255); */
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-feauters {
    padding-bottom: 0px;
  }
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 1199px) {
  .section-job {
    display: none;
  }
}

footer {
  background-color: var(--bgc-color);
  font-weight: 400;
  padding: 60px 0;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.2);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
}

.modal-btn {
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn:focus .icon-modal-close {
  fill: var(--accent-color);
}

.modal-btn:hover .icon-modal-close {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.input-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-modal {
  fill: var(--accent-color);
}

.comment-modal {
  margin-bottom: 20px;
}

.coment-text {
  height: 120px;
  margin: 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment-text:focus {
  border-color: var(--accent-color);
}

.coment-text:hover {
  border-color: var(--accent-color);
}

.icon-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-text-color);
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-wrapp {
  position: relative;
  display: block;
}

.check-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.check-text {
  font-weight: 400;
  color: #757575;
  display: flex;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.icon-check {
  fill: var(--white-color);
}

.input-check {
  display: flex;
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  outline: none;
  border-color: transparent;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */