.feauters-subject {
  display: none;
}
.feauters-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.feauters-item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
    // width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    // width: calc(100% / 2 - 30px);
    // margin-right: 30px;
    margin-bottom: 0;
  }
}
.feauters-icon {
  height: 120px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bgc-color);
  margin-bottom: 30px;
  // @media screen and (min-width: 1200px) {
  //   width: 270px;
  //   height: 120px;
  // }
}

.feauters-title {
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feauters-text {
  font-weight: 400;
}
