.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.2);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}
.modal-btn {
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:focus {
    .icon-modal-close {
      fill: var(--accent-color);
    }
  }
  &:hover {
    .icon-modal-close {
      fill: var(--accent-color);
    }
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}
.input-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}
.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    + {
      .icon-modal {
        fill: var(--accent-color);
      }
    }
  }
}
// .form-input:focus + .icon-modal {
//   fill: var(--accent-color);
// }

.comment-modal {
  margin-bottom: 20px;
}
.coment-text {
  height: 120px;
  margin: 0;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover {
    border-color: var(--accent-color);
  }
}

// .coment-text :focus,
// .coment-text :hover {
//   border-color: var(--accent-color);
// }

.icon-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-text-color);
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.input-wrapp {
  position: relative;
  display: block;
}

.check-link {
  color: var(--accent-color);
  text-decoration: underline;
}
.check-text {
  font-weight: 400;
  color: #757575;
  position: relative;
  padding-left: 20px;
}
.check-text {
  span {
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.icon-check {
  fill: var(--white-color);
}
.input-check {
  display: flex;
}
.input-check {
  &:checked {
    + {
      .check-text {
        span {
          background-color: var(--accent-color);
          border: none;
        }
      }
    }
  }
}

.submit-btn {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  outline: none;
  border-color: transparent;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

.icon-modal {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.icon-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
