:root {
  --primary-text-color: #757575; /* Основной цвет текста */
  --secondary-text-color: #212121; /* Вторичный цвет текста*/
  --white-color: #ffffff; /* Основной цвет фона */
  --bgc-color: #2f303a; /* Вторичный цвет фона*/
  --accent-color: #2196f3; /* Цвет акцента */
  --logo-color: #000000; /* Цвет лого*/
  --secondary-bgc-color: #f5f4fa; /* Цвет фона, секции "команда"*/
}
